* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f7f7f7;
    color: #222;
}

header{
     display: flex;
     flex-wrap: wrap;
     gap: 10px;
     justify-content: space-between;
     padding: 1rem 9%;
     background-color: black;
     color: white;
     align-items: center;
     position: sticky;
     top: 0;
     z-index: 100;
}
header img{
    width: 40px;
    height: auto;
}


.logo {
    font-size: 24px;
    font-weight: bold;
}

nav a {
    color: white;
    margin-left: 25px;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s ease-in-out;
}

nav a:hover,
nav a.active {
    color: orange;
}

.about-header {
    width: 100%;
    height: 250px;
    background: url("images/about-banner.jpg") center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;

}
.company-intro, .ceo-bio {
    max-width: 800px;
    margin: 40px auto;
    background: #ffffff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.company-intro h2,
.ceo-bio h2 {
    color: #222;
    margin-bottom: 15px;
}

.ceo-bio img {
 display: flex;
  margin: 15px 0;
  border-radius: 10px;
}
h3{
 align-items: center;
 justify-self: center;
 font-size: 50px;
}
p .about-content{
 align-items: center;
 justify-content: center;
 font-weight: bolder;
}
