*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
     display: flex;
     flex-wrap: wrap;
     gap: 10px;
     justify-content: space-between;
     padding: 1rem 9%;
     background-color: black;
     align-items: center;
     position: sticky;
     top: 0;
     z-index: 100;
}

header img{
    width: 40px;
    height: auto;
}

header button{
    outline: none;
    background-color: red;
    color: #f4f4f4;
    padding: 6px 8px ;
    border-radius: 0.25cm
}

section {
     padding: 3rem 6rem;
}
section.home{
     display: flex;
     justify-content: space-between;
     background-image: linear-gradient(to right, rgb(243, 187, 187), white);
     align-items: center;
     gap: 20px;
     border: 2px solid blue;
     box-sizing: border-box;
          /* max-width: 1100px;
          margin: 0 auto; */
          padding: 20px;
     height: 70vh;
     font-size: 30px;
     font-weight: bolder;
     color: black;
     text-transform: capitalize;
     /* padding: 1rem 6rem; */
}
section.away{
         background-image: linear-gradient(to right, rgba(255, 255, 255, 0.877), rgb(113, 0, 0));
         align-items: center;
         display: flex;
         font-weight: bolder;
          border: 2px solid blue;
          max-width: 1200px;
          margin: 0 auto;
          padding: 5px;
         font-size: 30px;
         gap: 10px;
         height: 50vh;
         font-size: 30px;
         font-weight: bolder;
         color: black;
         text-transform: capitalize;
         padding-top: 50px;
         padding-bottom: 50px;
         align-items: end;
         justify-content: end;
         padding-right: 100px;
}
section.design{
    text-transform: capitalize;
    font-size: 25px;
    font-style: oblique;
    padding-top: 100px;
    padding-bottom: 100px;

}

section.button{
     display: flex;
}

nav{
    display: flex;
     justify-content: space-between;
     gap: 50px;
}
nav a{
     text-decoration: none;
     color: #f4f4f4;
}

nav a:hover{
     color: gray;
}

.flex-container {
     display: grid;
     grid-template-columns: auto auto auto;
     background-color: #f4f4f4;
     display: grid;
     max-width: 1200px;
     margin: 0 auto;
     padding: 10px;

}

.destinations{
     display: flex;
     flex-wrap: wrap;
     /* grid-template-columns: repeat(4, 1fr); */
     /* justify-content: center;
     align-items: center;
     text-align: center; */
     gap: 40px;
     /* padding: 20px 40px; */
     /* margin: 20px 0;
         width: 280px; */
    background: #fff;
    /* border-radius: 12px; */
    /* box-shadow: 0 4px 12px rgba(0,0,0,0.1); */
    padding: 10px;
    text-align: center;
    /* transition: transform 0.3s ease; */
    margin-bottom: 20px;
}

section h2 {
     text-align: center;
}

.card{
     width: 200px;
     height: 200px;
     margin: 0;   
}
.card p{
     background-color: white;
     padding: 10px 0;
     text-align: center;
}

h2{
     align-items: center;
     text-transform: uppercase;
     justify-content: center;
}

.destinations .card img {
     width: 200px;  
     height: 200px; 
     padding: 10px; 
     object-fit: cover; 
     border-radius: 8px;
     display: grid;
     grid-template-columns: auto auto auto;
     
}

.class-box{
     border-radius: 0.85cm;

}

footer{
     background-color: rgb(65, 154, 20);
     padding: 29px;
     display: flex;
     flex-wrap: wrap;
     margin-top: 50px;
     color: white;
     justify-content: space-between;
     align-items: center;
     object-fit: cover;
}

.grid-item {
     background: rgb(255, 166, 0);
     color: rgb(255, 255, 255);
     padding: 30px;
     text-align: center;
     font-size: 20px;
     border-radius: 10px;
}
.inputbox{
     padding:15px;
     width: 500px;
     border-radius: 5px;
     border: none;
}   

button{
     padding: 15px;
     text-transform: uppercase;
     font-weight: bolder;
     border-radius: 5px ;
     color: rgb(248, 248, 248);
     background-color: red;
}

.leftFooter{
     display: flex;
     gap: 15px;
     align-items: center;
}

.subscribe{
     font-size: medium;
     font-weight: bold;
     text-transform: uppercase;
}

.offer{
     text-transform: capitalize;

}

.mail{
     height: 40px;
}
.span {
     color: rgb(255, 255, 255);
     justify-content: flex-start;
}
header p {
     color: white;
     font-weight: bolder;
}
.grid-images {
     display: grid;
     grid-template-columns: repeat(3, 1fr); 
     gap: 20px;
     padding: 20px;
}

.grid-images  {
     display: flex;
     gap: 3px;
}

.item-1{
     height: 200px;
     width:100px;
     border: 1px solid orange;
     font-size: medium;
}

.second-grid{
     height: 200px;
     width: 100px;
     font-size:medium;
     display: flex;
     flex-direction: column;
     gap: 3px;

}

.item-2, .item-3 {
     height: 50%;
     width:50px;
     border: 1px solid orange;
}
.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  padding: 30px;
}

.image-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 15px;
  width: 40%;
}
.image-grid .portrait {
  grid-row: span 2;
  height: 300px;
}

.image-grid img {
  width: 100%;
  height: 140px;
  object-fit: cover;
  border-radius: 12px;
}

.collection-card{
    display: flex;
    gap: 20px;

}

.mini-card{
    border: 2px solid blue;
    width: 50%;
    height: 200px;
    background-image: url(images/000.jpg);
}

