* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f7f7f7;
    color: #222;
}

header{
     display: flex;
     flex-wrap: wrap;
     gap: 10px;
     justify-content: space-between;
     padding: 1rem 9%;
     background-color: rgb(157, 75, 75);
     color: white;
     align-items: center;
     position: sticky;
     top: 0;
     z-index: 100;
}
header img{
    width: 40px;
    height: auto;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav a {
    color: white;
    margin-left: 25px;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
}

nav a:hover,
nav a.active {
    color: orange;
}

.page-header {
    width: 100%;
    height: 200px;
    background: url("images/shipping-banner.jpg");
}
